.new-release {
    width: 100vw;
    background-color: #000000;
    overflow: hidden;
}

.new-release__top {
    margin: 0 159px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-release__top h3 {
    color: #ffffff;
    font-size: 28px;
}

.new-release__top .button {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-release__top .button .fa {
    font-size: 16px;
    padding-left: 15px;
}

.new-release__movies-container {
    min-width: 100%;
    padding: 20px 0 60px 0;
    display: flex;
    margin-left: 159px;
}

.new-release__movie {
    width: 280px;
    height: 350px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.new-release__movie img {
    min-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.new-release__movie h4 {
    color: #ffffff;
}